.icon
    display: inline-flex;
    align-self: center;
    min-width: 16px;
    min-height: 16px;
    background-repeat: no-repeat;
    background-position: center;

    &--w20
        width: 20px;
        height: 20px;

    &--ey
        background: url('../svg/ey-icon.svg')
        width: 24px;
        height: 18px;