.sz-button
    font-size: $default-font-size
    color: #fff
    line-height: calc(#{$default-font-size} * 1.172)
    padding: calc(#{$input-py} - 1px) $input-px
    border-radius: $button-border-radius
    width: 100%
    background-color: $accent-green
    border-color: $accent-green
    text-transform: uppercase
    &:hover
        cursor: pointer
        background-color: $hover-green
        border-color: $hover-green


    &:disabled
        background-color: $gray1
        border-color: $gray1
        cursor: not-allowed